{% extends "base.html" %}

{% block content %}

    <div class="row">
        <input type="text" class="form-control btn-block" id="location" placeholder="Enter Your Location" style="display: none;">
        <button type="submit" class="btn btn-primary btn-block" id="findBike">Find Bike</button>
        <button type="submit" class="btn btn-primary btn-block" id="findBike2" style="display: none;">Find Bike</button>
    </div>
    <div id="map-canvas"></div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGTxlg3YzIgRVdPD3HFpYlMkrSyxQNHyI&libraries=places&callback=initAutocomplete" async defer></script>
    <script type="text/javascript" src="{{ STATIC_URL }} /static/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }} /static/js/directions.js"></script>

    <script>
        function initAutocomplete() {
            // Create the search box and link it to the UI element.
            var input = document.getElementById('location');
            var searchBox_1 = new google.maps.places.SearchBox(input);
        }

        $( document ).ready(function() {

            //find bike no geo
            $( "#findBike2" ).click(function() {
                $.get('/cyklagbg/stations/findclosest', {
                            location: $("#location").val()
                        },
                        function (data) {
                            // do something
                            initMap(data.from, data.location);
                        });
            });

            //find bike with geo
            $( "#findBike" ).click(function() {
                var geoSuccess = function(position) {
                    $.get('/cyklagbg/stations/findclosest', {
                                geo_location: position.coords.latitude + "," + position.coords.longitude },
                            function(data){
                                // do something
                                initMap(data.from, data.location);
                            });
                };
                var geoError = function(error) {
                    $( "#findBike" ).hide();
                    $( "#findBike2" ).show();
                    $( "#location" ).slideDown()
                };
                navigator.geolocation.getCurrentPosition(geoSuccess, geoError);
            });
        });
    </script>

{% endblock %}